/* Modal diedit sendiri */
.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}
.modal.fade .modal-dialog {
  transition: transform 0.25s ease-out;
}
.modal.show .modal-dialog {
  transform: translate(0, 0) !important;
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh !important;
}
.modal-dialog {
  margin: 0 auto !important;
  top: 0;
}
.modal-content {
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}